### 为什么学习pandas
- numpy已经可以帮助我们进行数据的处理了，那么学习pandas的目的是什么呢？
    - numpy能够帮助我们处理的是数值型的数据，当然在数据分析中除了数值型的数据还有好多其他类型的数据（字符串，时间序列），那么pandas就可以帮我们很好的处理除了数值型的其他数据！

### 什么是pandas？
- 首先先来认识pandas中的两个常用的类
    - Series
    - DataFrame

### Series
- Series是一种类似与一维数组的对象，由下面两个部分组成：
    - values：一组数据（ndarray类型）
    - index：相关的数据索引标签

- Series的创建
    - 由列表或numpy数组创建
    - 由字典创建

In [1]:
from pandas import Series

s = Series(data=[1,2,3,'four'])
s

0       1
1       2
2       3
3    four
dtype: object

In [4]:
import numpy as np

s = Series(data=np.random.randint(0,100,size=(6)))
s

0    33
1     7
2    86
3     2
4    94
5    58
dtype: int32

In [5]:
# index用来指定显示索引
s = Series(data=[1,2,3,'four'],index=['a','b','c','d'])
s

a       1
b       2
c       3
d    four
dtype: object

In [ ]:
# 为什么需要有显示索引
# 显示索引可以增强Series的可读性

In [6]:
dic = {
    '语文':100,
    '数学':99,
    '理综':250
}
s = Series(data=dic)
s

语文    100
数学     99
理综    250
dtype: int64

- Series的索引和切片

In [11]:
s[0]

100

In [12]:
s.数学

99

In [13]:
s[0:2]

语文    100
数学     99
dtype: int64

- Series的常用属性
    - shape
    - size
    - index
    - values

In [18]:
# s.shape
# s.size
# s.index  # 返回索引
# s.values  # 返回值
s.dtype  # 元素的类型

dtype('int64')

In [19]:
s = Series(data=[1,2,3,'four'],index=['a','b','c','d'])
s.dtype  # 数据类型O表示的是Object（字符串类型）

dtype('O')

In [21]:
s['d']

'four'

- Series的常用方法
    - head(),tail()
    - unique()
    - isnull(),notnull()
    - add() sub() mul() div()

In [22]:
s = Series(data=np.random.randint(60,100,size=(10,)))
s.head(3)  # 显示前n个数据

0    97
1    74
2    89
dtype: int32

In [23]:
s.tail(3)  # 显示后n个元素

7    70
8    74
9    81
dtype: int32

In [24]:
s.unique()  # 去重

array([97, 74, 89, 67, 81, 83, 66, 70])

In [25]:
s.isnull()  # 用于判断每一个元素是否为空，为空返回True，否则返回False

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [26]:
s.notnull()

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

- Series的算术运算
    - 法则：索引一致的元素进行算数运算否则补空

In [32]:
s1 = Series(data=[1,4,6],index=['a','b','c'])
s2 = Series(data=[1,2,3],index=['a','d','c'])
s = s1 + s2
s
s1.add(s2)
s1.sub(s2)
s1.mul(s2)
s1.div(s2)

a    1.0
b    NaN
c    2.0
d    NaN
dtype: float64

In [28]:
s.isnull()

a    False
b     True
c    False
d     True
dtype: bool

### DataFrame
- DataFrame是一个【表格型】的数据结构。DataFrame由按一定顺序排列的多列数据组成。设计初衷是将Series的使用场景从一维拓展到多维。DataFrame既有行索引，也有列索引。
    - 行索引：index
    - 列索引：columns
    - 值：values

- DataFrame的创建
    - ndarray创建
    - 字典创建

In [33]:
from pandas import DataFrame

In [34]:
df = DataFrame(data=[[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [36]:
df = DataFrame(data=np.random.randint(0,100,size=(6,6)))
df

    0   1   2   3   4   5
0   6  24  52  40  24  94
1  51  26  78  93  75  89
2  91  13  65  58  90  18
3  48  60  42  84  25  19
4  26  26  90  64  10  46
5  16  73  91  14  12  16

In [37]:
dic = {
    'name':['zhangsan','lisi','wanglaowu'],
    'salary':[1000,2000,3000]
}
df = DataFrame(data=dic,index=['a','b','c'])
df

        name  salary
a   zhangsan    1000
b       lisi    2000
c  wanglaowu    3000

- DataFrame的属性
    - values、columns、index、shape

In [41]:
# df.values
# df.columns
# df.index
df.shape

(3, 2)

In [42]:
df['name']

a     zhangsan
b         lisi
c    wanglaowu
Name: name, dtype: object

============================================

练习4：

根据以下考试成绩表，创建一个DataFrame，命名为df：
```
    张三  李四  
语文 150  0
数学 150  0
英语 150  0
理综 300  0
```

============================================

In [43]:
dic = {
    '张三': [150,150,150,150],
    '李四': [0,0,0,0]
}
df = DataFrame(data=dic,index=['语文','数学','英语','理综'])
df

     张三  李四
语文  150   0
数学  150   0
英语  150   0
理综  150   0

- DataFrame索引操作
    - 对行进行索引
    - 队列进行索引
    - 对元素进行索引

In [103]:
df = DataFrame(data=np.random.randint(60,100,size=(8,4)),columns=['a','b','c','d'])
df

    a   b   c   d
0  62  62  84  83
1  91  89  88  86
2  62  96  87  83
3  82  80  73  86
4  78  89  94  87
5  78  61  82  89
6  65  65  70  91
7  85  61  73  97

In [45]:
df['a']  # 取单列，如果df有显示的索引，通过索引机制去行或者列的时候只可以使用显示索引

0    85
1    79
2    78
3    79
4    94
5    70
6    88
7    84
Name: a, dtype: int32

In [46]:
df[['a','c']]  # 取多列

    a   c
0  85  89
1  79  90
2  78  62
3  79  90
4  94  91
5  70  99
6  88  76
7  84  62

- iloc:
    - 通过隐式索引取行
- loc:
    - 通过显示索引取行

In [105]:
# 取单行
df.loc[0]

a    62
b    62
c    84
d    83
Name: 0, dtype: int32

In [104]:
# 取多行
df.iloc[[0,3,5]]

    a   b   c   d
0  62  62  84  83
3  82  80  73  86
5  78  61  82  89

In [58]:
# 取单个元素
# df.iloc[0,3]  # 第一行的第四个元素
df.loc[0,'c']  # 第一行c列元素

89

In [62]:
# 取多个元素
df.iloc[[1,3,5],2]  # 索引1，3，5行第二列

1    90
3    90
5    99
Name: c, dtype: int32

- DataFrame的切片操作
    - 对行进行切片
    - 对列进行切片

In [63]:
# 切行
df[0:2]

    a   b   c   d
0  85  92  89  88
1  79  66  90  83

In [64]:
#切列
df.iloc[:,0:2]

    a   b
0  85  92
1  79  66
2  78  91
3  79  93
4  94  97
5  70  94
6  88  87
7  84  90

- df索引和切片操作
    - 索引：
        - df[col]:取列
        - df.loc[index]:取行
        - df.iloc[index,col]:取元素
    - 切片：
        - df[index1:index3]:切行
        - df.iloc[:,col1:col3]:切列

- DataFrame的运算
    - 同Series

============================================

练习：

1. 假设ddd是期中考试成绩，ddd2是期末考试成绩，请自由创建ddd2，并将其与ddd相加，求期中期末平均值。

2. 假设张三期中考试数学被发现作弊，要记为0分，如何实现？

3. 李四因为举报张三作弊立功，期中考试所有科目加100分，如何实现？

4. 后来老师发现有一道题出错了，为了安抚学生情绪，给每位学生每个科目都加10分，如何实现？

============================================

In [65]:
dic = {
    '张三':[150,150,150,150],
    '李四':[0,0,0,0]
}
df = DataFrame(data=dic,index=['语文','数学','英语','理综'])
qizhong = df
qimo = df

In [66]:
(qizhong + qizhong) / 2  # 期中期末的平均值

       张三   李四
语文  150.0  0.0
数学  150.0  0.0
英语  150.0  0.0
理综  150.0  0.0

In [67]:
qizhong.loc['数学','张三'] = 0
qizhong  # 将张三的数学成绩修改为0

     张三  李四
语文  150   0
数学    0   0
英语  150   0
理综  150   0

In [68]:
# 将李四的所有成绩+100
qizhong['李四']+=100
qizhong

     张三   李四
语文  150  100
数学    0  100
英语  150  100
理综  150  100

In [69]:
qizhong += 10
qizhong  # 将所有学生的成绩+10

     张三   李四
语文  160  110
数学   10  110
英语  160  110
理综  160  110

- 时间数据类型的转换
    - pd.to_datetime(col)
- 将某一列设置为行索引
    - df.set_index()

In [81]:
dic = {
    'time':['2010-10-10','2011-11-20','2020-01-10'],
    'temp':[33,31,30]
}
df = DataFrame(data=dic)
df

         time  temp
0  2010-10-10    33
1  2011-11-20    31
2  2020-01-10    30

In [71]:
# 查看time列的类型
df['time'].dtype

dtype('O')

In [73]:
import pandas as pd

In [74]:
# 将time列的数据类型转换成时间序列类型
df['time'] = pd.to_datetime(df['time'])
df

        time  temp
0 2010-10-10    33
1 2011-11-20    31
2 2020-01-10    30

In [75]:
df['time']

0   2010-10-10
1   2011-11-20
2   2020-01-10
Name: time, dtype: datetime64[ns]

In [82]:
# 将temp列作为源数据的行索引
df.set_index('temp',inplace=True)

In [85]:
df

            time
temp
33    2010-10-10
31    2011-11-20
30    2020-01-10

In [91]:
df.loc[30]

time    2020-01-10
Name: 30, dtype: object

In [92]:
df['time']

temp
33    2010-10-10
31    2011-11-20
30    2020-01-10
Name: time, dtype: object